:root{
    --primary-color: #5655D9;
    --secondary-color: rgb(94, 163, 195);
    --color-dark: #303742;
    --triangle-height: 100px;
    --size-1: 0.2rem;
    --size-2: 0.4rem;
    --size-3: 1rem;
    --size-4: 2rem;
    --size-5: 3rem;
}
body{
    margin: 0;
}
main{
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    word-wrap: break-word;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.front-presentation{
    background-image: url("images/front-bg-photo.webp");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -400px 300px black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9;
    padding-bottom: var(--triangle-height);
}
.front-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin-top: 1rem;
}
.w-100{
    width: 100%;
}
.p-3{
    padding: var(--size-3);
}
.p-4{
    padding: var(--size-4);
}
.p-5{
    padding: var(--size-5);
}
.m-3{
    margin: var(--size-3);
}
.m-4{
    margin: var(--size-4);
}
.m-5{
    margin: var(--size-5);
}
.pb-3{
    padding-bottom: var(--size-3);
}
.pb-4{
    padding-bottom: var(--size-4);
}
.pb-5{
    padding-bottom: var(--size-5);
}
.pt-3{
    padding-top: var(--size-3);
}
.pt-4{
    padding-top: var(--size-4);
}
.pt-5{
    padding-top: var(--size-5);
}
.ml-3{
    margin-left: var(--size-3);
}
.ml-4{
    margin-left: var(--size-4);
}
.ml-5{
    margin-left: var(--size-5);
}
.mt-3{
    margin-top: var(--size-3);
}
.mt-4{
    margin-top: var(--size-4);
}
.mt-5{
    margin-top: var(--size-5);
}
.mb-3{
    margin-bottom: var(--size-3);
}
.mb-4{
    margin-bottom: var(--size-4);
}
.mb-5{
    margin-bottom: var(--size-5);
}
.mx-3{
    margin-left: var(--size-3);
    margin-right: var(--size-3);
}
.mx-4{
    margin-left: var(--size-4);
    margin-right: var(--size-4);
}
.mx-5{
    margin-left: var(--size-5);
    margin-right: var(--size-5);
}
.my-3{
    margin-top: var(--size-3);
    margin-bottom: var(--size-3);
}
.py-3{
    padding-top: var(--size-3);
    padding-bottom: var(--size-3);
}
.py-4{
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
}
.py-5{
    padding-top: var(--size-5);
    padding-bottom: var(--size-5);
}
.text-center{
    text-align: center;
}
.language-list{
    display: inline-block;
    padding-inline-start: 0;
    text-align: start;
}
.text-white{
    color: white;
}
.text-shadow-legibility{
    text-shadow: 0px 0px 5px black;
}
.triangle{
    width: 0;
    height: 0;
}
.triangle-top{
    border-top: var(--triangle-height) solid transparent;
    border-right: 100vw solid;
}
.triangle-top-primary{
    border-right-color: var(--primary-color);
}
.triangle-bottom-primary{
    border-bottom: var(--triangle-height) solid transparent;
    border-left: 100vw solid var(--primary-color);
}
.triangle-top-dark{
    border-top: var(--triangle-height) solid transparent;
    border-right-color: var(--color-dark);
}
.triangle-top.triangle-negative-margin{
    margin-top: calc(-1 * var(--triangle-height));
}
.footer-details-section{
    padding-bottom: calc(var(--triangle-height) + var(--size-4));
    padding-top: var(--size-4);
}
.d-flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.justify-contend-end{
    justify-content: end;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.social-media-link{
    margin-bottom: var(--size-3);
    /*background-color: rgb(29, 6, 104);*/
    background: linear-gradient(to left, var(--color-dark) 50%, var(--primary-color) 50%) right;
    background-size: 200%;
    transition: .15s ease-out;
}
.social-media-link p{
    color:white;
}
.social-media-link img{
    margin-right: var(--size-2);
}
.social-media-link i{
    visibility: hidden;
    margin-left: var(--size-2);
}
a.social-media-link:hover{
    color:rgb(29, 6, 104);
    transition: all 0.1s ease-in-out;
    background-position: left;
}
.social-media-link, .social-media-link:active, .social-media-link:hover, .social-media-link:focus{
    text-decoration: none;
}
.social-media-link:hover i{
    visibility: initial;
    color:white;
}
.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: var(--size-3);
    row-gap: var(--size-3);
}
.portfolio-grid a.card{
    color: white;
    background-color: var(--color-dark);
    background: linear-gradient(to left, var(--color-dark) 50%, var(--primary-color) 50%) right;
    background-size: 200%;
    transition: .15s ease-out;
}
.portfolio-grid a.card:hover{
    background-position: left;
    text-decoration: none;
}
.border{
    border: 1px solid var(--color-dark);
}
a.press-release-widget{
    color: white;
    background-color: var(--color-dark);
    background: linear-gradient(to left, var(--color-dark) 50%, var(--primary-color) 50%) right;
    background-size: 200%;
    transition: .15s ease-out;
}
a.press-release-widget:hover{
    text-decoration: none;
    color: white;
    background-position: left;
}
@media (min-width: 800px){
    .front-info-container{
        flex-direction: row;
        width:70%;
        margin-top: var(--triangle-height);
        margin-bottom: var(--triangle-height);
    }
    .profile-photo{
        width:300px;
    }
    .portfolio-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }
    h4{
        font-size: 0.9rem;
    }
    h5{
        font-size: 0.7rem;
    }
    h6{
        font-size: 0.6rem;
    }
}