        <div class="front-presentation">
            <div class="container mt-5">
                <div class="columns mx-3">
                    <div class="column col-7 col-md-12 col-mx-auto">
                        <div class="columns">
                            <div class="column col-5 col-md-10 col-mx-auto">
                                <img class="s-circle img-responsive" src="images/profile-picture.webp" alt="Profilbild">
                            </div>
                            <div class="column col-7 col-md-12 text-white d-flex align-items-center">
                                <div class="text-shadow-legibility">
                                    <h1>Gustav Persson</h1>
                                    <p>Systemarkitekt på Wismen Media AB. Studerar mjukvaruutveckling vid Jönköping University.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangle-up"></div>
        <div class="bg-primary text-white py-3">
            <div class="container">
                <div class="columns mx-3">
                    <div class="column col-7 col-md-12 col-mx-auto text-center">
                        <h2 class="mb-2">Om mig</h2>
                        <p>Jag är en systemutvecklare som studerar på School Of Engineering vid Jönköping University samt arbetar på Wismen Media AB.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="triangle-down"></div>